@model List<Team>
@{
    int count = 0;
}
<div class="container">
    <div>
        <h1>Teams:</h1>
        <a asp-action="create" asp-controller="Team" class="btn btn-primary">Create</a>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">FullName</th>
                    <th scope="col">Profession</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Team team in Model)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@team.Id</td>
                        <td>@team.FullName</td>
                        <td>@team.Profession.Name</td>
                        <td style="width:200px"><img width="!00%" src="~/uploads/teams/@team.ImageUrl"/></td>
                        
                        <td>
                            <a asp-action="Update" asp-controller="Team" asp-route-id="@team.Id" class="btn btn-primary">Update</a>
                            <a asp-action="Delete" asp-controller="Team" asp-route-id="@team.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>